@import url(http://fonts.googleapis.com/css?family=Lato:900);
/* line 10, ../sass/parallax-scroll.scss */
section.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 17, ../sass/parallax-scroll.scss */
section.parallax > h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* line 26, ../sass/parallax-scroll.scss */
section.parallax-1 {
  background-image: url("../images/img1.jpg");
}

/* line 29, ../sass/parallax-scroll.scss */
section.parallax-2 {
  background-image: url("../images/img2.jpg");
}

/* line 32, ../sass/parallax-scroll.scss */
section.parallax-3 {
  background-image: url("../images/img3.jpg");
}
